@charset "UTF-8";

/*front page header*/
.header {
    background: none;
}

.header.top {
    background: #f3f3f3;
    transition: all 1s ease-out;
}

.header .header_con .header_nav .header_nav_list {
    background: rgba(255, 255, 255, 0.5);
    filter: alpha(opacity=50);
}

/*front page banner*/
.indexbanner .swiper-container .swiper-wrapper .swiper-slide a {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.indexbanner .swiper-container .swiper-button-prev {
    width: 30px;
    height: 16px;
    top: 100%;
    margin-top: -56px;
    left: 26%;
    background: url(../images/index_banner_prev.png) no-repeat;
}

.indexbanner .swiper-container .swiper-button-next {
    width: 30px;
    height: 16px;
    top: 100%;
    margin-top: -56px;
    left: 34%;
    background: url(../images/index_banner_next.png) no-repeat;
}

.indexbanner .swiper-container .swiper-pagination {
    width: auto;
    left: 30%;
    color: #000;
    bottom: 30px;
}

.indexbanner .swiper-container .swiper-pagination-current {
    font-size: 24px;
}

.indexbanner .swiper-container .swiper-pagination-total {
    font-size: 16px;
}

/*Heading*/
.indextitle {
    color: #f37c22;
    font-size: 28px;
    text-align: center;
    margin-bottom: 40px;
}

.indextitle:after {
    width: 50px;
    height: 2px;
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    background: #cfd1d1;
}

.indextitle2 {
    color: #fff;
}

.indextitle2:after {
    background: #fff;
}

@media screen and (max-width: 767px) {
    .indextitle {
        font-size: 18px;
        margin-bottom: 30px;
    }
}

/*about us*/
.indexabout {
    margin-top: 50px;
    margin-bottom: 60px;
}

.indexabout .indexaboutlist .indexaboutlistcon {
    padding: 8px;
}

.indexabout .indexaboutlist .indexaboutlistcon .indexaboutcon {
    padding: 30px;
    position: relative;
    background: #fff;
    border: 1px solid #e4e4e4;
}

.indexabout .indexaboutlist .indexaboutlistcon .indexaboutcon .indexaboutconimg {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    line-height: 100px;
    border-radius: 50%;
    text-align: center;
    background: #efeff0;
    margin-bottom: 25px;
}

.indexabout .indexaboutlist .indexaboutlistcon .indexaboutcon h4 {
    color: #383838;
    font-size: 16px;
    text-align: center;
}

.indexabout .indexaboutlist .indexaboutlistcon .indexaboutcon h4:after {
    width: 20px;
    height: 2px;
    content: "";
    margin: 0 auto;
    display: block;
    margin-top: 15px;
    background: #cfd1d1;
}

.indexabout .indexaboutlist .indexaboutlistcon .indexaboutcon .indexaboutcontext {
    height: 0;
    opacity: 0;
    color: #fff;
    font-size: 12px;
    margin-top: 30px;
    filter: alpha(opacity=0);
    text-align: center;
}

.indexabout .indexaboutlist .indexaboutlistcon .indexaboutcon .indexaboutcontext p {
    height: 48px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    line-height: 24px;
    margin-bottom: 20px;
    -webkit-line-clamp: 2;
}

.indexabout .indexaboutlist .indexaboutlistcon .indexaboutcon .indexaboutcontext a {
    color: #fff;
    width: 100px;
    margin: 0 auto;
    padding: 6px 0;
    display: block;
    text-align: center;
    border: 1px solid #fff;
}

.indexabout .indexaboutlist .indexaboutlistcon .indexaboutcon .indexabouticon {
    width: 100%;
    height: 7px;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 30px;
}

.indexabout .indexaboutlist .indexaboutlistcon .indexaboutcon .indexabouticon img {
    vertical-align: top;
}

.indexabout .indexaboutlist .indexaboutlistcon .indexaboutcon:hover {
    transition: 1s ease;
    background: #f37c22;
    border: 1px solid #f37c22;
}

.indexabout .indexaboutlist .indexaboutlistcon .indexaboutcon:hover .indexaboutconimg {
    background: #fff;
}

.indexabout .indexaboutlist .indexaboutlistcon .indexaboutcon:hover h4 {
    color: #fff;
}

.indexabout .indexaboutlist .indexaboutlistcon .indexaboutcon:hover h4:after {
    background: #fff;
}

.indexabout .indexaboutlist .indexaboutlistcon .indexaboutcon:hover .indexaboutcontext {
    height: auto;
    opacity: 1;
    filter: alpha(opacity=100);
    transition: 1s ease;
}

.indexabout .indexaboutlist .indexaboutlistcon .indexaboutcon:hover .indexabouticon {
    display: none;
}

.indexabout .indexmore {
    margin-top: 40px;
    text-align: center;
}

.indexabout .indexmore a {
    color: #f37c22;
    font-size: 12px;
    padding: 8px 40px;
    display: inline-block;
    border: 1px solid #f37c22;
}

@media screen and (max-width: 991px) {
    .indexabout .indexaboutlist .indexaboutcon {
        padding: 15px;
    }

    .indexabout .indexaboutlist .indexaboutcon .indexaboutconimg {
        width: 80px;
        height: 80px;
        line-height: 80px;
    }

    .indexabout .indexaboutlist .indexaboutcon .indexabouticon {
        bottom: 15px;
    }
}

@media screen and (max-width: 767px) {
    .indexabout {
        margin-top: 40px;
    }

    .indexabout .indexaboutlist .indexaboutlistcon {
        padding: 15px;
    }

    .indexabout .indexaboutlist .indexaboutlistcon .indexaboutcon {
        padding: 15px;
        background: #f37c22;
        border: 1px solid #f37c22;
    }

    .indexabout .indexaboutlist .indexaboutlistcon .indexaboutcon .indexaboutconimg {
        width: 60px;
        height: 60px;
        line-height: 60px;
        margin-bottom: 15px;
    }

    .indexabout .indexaboutlist .indexaboutlistcon .indexaboutcon .indexaboutconimg img {
        width: 30px;
    }

    .indexabout .indexaboutlist .indexaboutlistcon .indexaboutcon h4 {
        color: #fff;
    }

    .indexabout .indexaboutlist .indexaboutlistcon .indexaboutcon h4:after {
        background: #fff;
    }

    .indexabout .indexaboutlist .indexaboutlistcon .indexaboutcon .indexaboutcontext {
        opacity: 1;
        height: auto;
        margin-top: 15px;
        filter: alpha(opacity=100px);
    }

    .indexabout .indexaboutlist .indexaboutlistcon .indexaboutcon .indexabouticon {
        display: none;
    }

    .indexabout .indexmore {
        margin-top: 20px;
    }
}

/*Product Center*/
.indexprobg {
    width: 100%;
    position: relative;
    padding: 50px 0 70px;
}

.indexprobg .indexpromask {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background: #f37c22;
    position: absolute;
    top: 0;
    left: 0;
    filter: alpha(opacity=80);
}

.indexprobg .indexpro {
    position: relative;
}

.indexprobg .indexpro .indexproconbg {
    width: 100%;
    background: #fff;
    padding-bottom: 5%;
}

.indexprobg .indexpro .indexproconbg .indexprocon {
    width: 88%;
    margin: 0 auto;
    overflow: hidden;
}

.indexprobg .indexpro .indexproconbg .indexprocon .gallery-top {
    overflow: visible;
}

.indexprobg .indexpro .indexproconbg .indexprocon .gallery-top .swiper-wrapper .swiper-slide .indexproconimg {
    width: 50%;
}

.indexprobg .indexpro .indexproconbg .indexprocon .gallery-top .swiper-wrapper .swiper-slide .indexproconimg img {
    width: 100%;
}

.indexprobg .indexpro .indexproconbg .indexprocon .gallery-top .swiper-wrapper .swiper-slide .indexprotext {
    width: 50%;
    padding-top: 5%;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.indexprobg .indexpro .indexproconbg .indexprocon .gallery-top .swiper-wrapper .swiper-slide .indexprotext .indexprotext2 {
    padding: 5%;
    height: 100%;
    position: relative;
    background: #f3f3f3;
}

.indexprobg .indexpro .indexproconbg .indexprocon .gallery-top .swiper-wrapper .swiper-slide .indexprotext .indexprotext2 h3 {
    color: #f37c22;
    font-size: 22px;
    margin-bottom: 30px;
}

.indexprobg .indexpro .indexproconbg .indexprocon .gallery-top .swiper-wrapper .swiper-slide .indexprotext .indexprotext2 p {
    height: 240px;
    color: #58585c;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    font-size: 13px;
    line-height: 24px;
    -webkit-line-clamp: 10;
}

.indexprobg .indexpro .indexproconbg .indexprocon .gallery-top .swiper-wrapper .swiper-slide .indexprotext .indexprotext2 a {
    color: #fff;
    font-size: 12px;
    padding: 8px 24px;
    background: #f37c22;
    display: inline-block;
    position: absolute;
    bottom: 6%;
}

.indexprobg .indexpro .indexproconbg .indexprocon .gallery-top .swiper-pagination {
    margin: 0;
    width: 100%;
    bottom: -30px;
}

.indexprobg .indexpro .indexproconbg .indexprocon .gallery-top .swiper-pagination .swiper-pagination-bullet-active {
    background: #f37c22;
}

.indexprobg .indexpro .indexproconbg .indexprocon .gallery-thumbs {
    margin-top: 20px;
}

.indexprobg .indexpro .indexproconbg .indexprocon .gallery-thumbs .swiper-wrapper .swiper-slide {
    cursor: pointer;
    border: 2px solid transparent;
}

.indexprobg .indexpro .indexproconbg .indexprocon .gallery-thumbs .swiper-wrapper .swiper-slide img {
    width: 100%;
}

.indexprobg .indexpro .indexproconbg .indexprocon .gallery-thumbs .swiper-wrapper .swiper-slide:hover {
    border: 2px solid #f37c22;
}

.indexprobg .indexpro .indexproconbg .indexprocon .gallery-thumbs .swiper-wrapper .swiper-slide-active {
    border: 2px solid #f37c22;
}

.indexprobg .indexpro .indexproconbg .indexprocon .gallery-button {
    position: absolute;
    width: 100%;
    height: 33px;
    left: 0;
    top: 50%;
    z-index: 100;
    margin-top: -16px;
}

.indexprobg .indexpro .indexproconbg .indexprocon .gallery-button .swiper-button-prev {
    top: 0;
    left: 3%;
    width: 26px;
    height: 33px;
    margin-top: 0;
    background: url(../images/index_pro_prev1.png) no-repeat;
}

.indexprobg .indexpro .indexproconbg .indexprocon .gallery-button .swiper-button-prev:hover {
    background: url(../images/index_pro_prev2.png) no-repeat;
}

.indexprobg .indexpro .indexproconbg .indexprocon .gallery-button .swiper-button-next {
    top: 0;
    right: 3%;
    width: 26px;
    height: 33px;
    margin-top: 0;
    background: url(../images/index_pro_next1.png) no-repeat;
}

.indexprobg .indexpro .indexproconbg .indexprocon .gallery-button .swiper-button-next:hover {
    background: url(../images/index_pro_next2.png) no-repeat;
}

@media screen and (max-width: 1199px) {
    .indexprobg .indexpro .indexproconbg .indexprocon .gallery-top .swiper-wrapper .swiper-slide .indexprotext .indexprotext2 h3 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .indexprobg .indexpro .indexproconbg .indexprocon .gallery-top .swiper-wrapper .swiper-slide .indexprotext .indexprotext2 p {
        height: 200px;
        line-height: 20px;
    }
}

@media screen and (max-width: 991px) {
    .indexprobg .indexpro .indexproconbg .indexprocon .gallery-top .swiper-wrapper .swiper-slide .indexprotext .indexprotext2 p {
        height: 120px;
        -webkit-line-clamp: 6;
    }
}

@media screen and (max-width: 767px) {
    .indexprobg .indexpro .indexproconbg .indexprocon {
        padding-bottom: 30px;
    }

    .indexprobg .indexpro .indexproconbg .indexprocon .gallery-top .swiper-wrapper .swiper-slide .indexproconimg {
        width: 100%;
    }

    .indexprobg .indexpro .indexproconbg .indexprocon .gallery-top .swiper-wrapper .swiper-slide .indexprotext {
        width: 100%;
        height: auto;
        position: static;
    }

    .indexprobg .indexpro .indexproconbg .indexprocon .gallery-top .swiper-wrapper .swiper-slide .indexprotext .indexprotext2 p {
        height: auto;
        font-size: 12px;
        margin-bottom: 20px;
        -webkit-line-clamp: inherit;
    }

    .indexprobg .indexpro .indexproconbg .indexprocon .gallery-top .swiper-wrapper .swiper-slide .indexprotext .indexprotext2 a {
        position: static;
    }
}

/*Company Introduction Video,
Global Service Center*/
.indexcompany {
    width: 100%;
    margin-bottom: 60px;
}

.indexcompany .indexivideo {
    width: 50%;
    float: left;
    overflow: hidden;
    position: relative;
}

.indexcompany .indexivideo .indexcompanyimg {
    width: 100%;
    transition: 1s;
}

.indexcompany .indexivideo .indexvideomask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #58585c;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.indexcompany .indexivideo .indexvideomask2 {
    background: #fff;
}

.indexcompany .indexivideo .indexvideocon {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -56px;
}

.indexcompany .indexivideo .indexvideocon img {
    width: 65px;
    height: auto;
}

.indexcompany .indexivideo .indexvideocon p {
    color: #fff;
    font-size: 26px;
    margin-top: 10px;
}

.indexcompany .indexivideo:hover .indexcompanyimg {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
}

@media screen and (max-width: 767px) {
    .indexcompany {
        margin-bottom: 40px;
    }

    .indexcompany .indexivideo {
        width: 100%;
        float: none;
    }

    .indexcompany .indexivideo .indexvideocon {
        margin-top: -37.5px;
    }

    .indexcompany .indexivideo .indexvideocon img {
        width: 40px;
    }

    .indexcompany .indexivideo .indexvideocon p {
        font-size: 18px;
    }
}

/*News Center*/
.indexnews .indexnewstop {
    margin-top: 70px;
    position: relative;
}

.indexnews .indexnewstop .indexnewstopimg {
    width: 40%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.indexnews .indexnewstop .indexnewstopimg img {
    width: 100%;
    transition: 1s;
}

.indexnews .indexnewstop .indexnewstopimg img:hover {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
}

.indexnews .indexnewstop .indexnewstopcon {
    width: 65%;
    position: absolute;
    top: -30px;
    right: 0;
    padding-left: 5%;
    padding-top: 30px;
    background: #f3f3f3;
    padding-bottom: 30px;
}

.indexnews .indexnewstop .indexnewstopcon .indexnewstoptext {
    padding: 25px 50px 0;
}

.indexnews .indexnewstop .indexnewstopcon .indexnewstoptext h3 {
    color: #000;
    font-size: 20px;
    margin-bottom: 25px;
}

.indexnews .indexnewstop .indexnewstopcon .indexnewstoptext .indexnewstoptext2 {
    height: 72px;
    color: #868686;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 60px;
}

.indexnews .indexnewstop .indexnewstopcon .indexnewstoptext .indexnewstopbox .indexnewstopmore {
    float: left;
    line-height: 66px;
}

.indexnews .indexnewstop .indexnewstopcon .indexnewstoptext .indexnewstopbox .indexnewstopmore a {
    color: #f37c22;
    display: block;
    font-size: 12px;
}

.indexnews .indexnewstop .indexnewstopcon .indexnewstoptext .indexnewstopbox .indexnewstopdata {
    float: right;
    text-align: right;
}

.indexnews .indexnewstop .indexnewstopcon .indexnewstoptext .indexnewstopbox .indexnewstopdata h2 {
    color: #58585c;
    font-size: 30px;
    font-weight: bold;
}

.indexnews .indexnewstop .indexnewstopcon .indexnewstoptext .indexnewstopbox .indexnewstopdata p {
    color: #8f8f8f;
    font-size: 20px;
    margin-top: 5px;
}

.indexnews .indexnewslist {
    margin-top: 60px;
}

.indexnews .indexnewslist li {
    width: 49%;
    float: left;
    margin-left: 1%;
    margin-bottom: 30px;
}

.indexnews .indexnewslist li .indexnewslistdata {
    width: 20%;
    float: left;
    text-align: right;
    padding: 30px 15px;
    background: #f3f3f3;
}

.indexnews .indexnewslist li .indexnewslistdata h2 {
    color: #58585c;
    font-size: 30px;
    font-weight: bold;
}

.indexnews .indexnewslist li .indexnewslistdata p {
    color: #8f8f8f;
    font-size: 20px;
    margin-top: 5px;
}

.indexnews .indexnewslist li .indexnewslistcon {
    width: 80%;
    float: right;
    background: #fff;
    padding: 30px 20px;
}

.indexnews .indexnewslist li .indexnewslistcon h3 {
    color: #000;
    height: 22px;
    font-size: 20px;
    overflow: hidden;
    margin-bottom: 25px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.indexnews .indexnewslist li .indexnewslistcon p {
    height: 48px;
    color: #868686;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    font-size: 13px;
    line-height: 24px;
    -webkit-line-clamp: 2;
}

.indexnews .indexnewslist li:hover .indexnewslistdata {
    transition: 1s ease;
    background: #f37c22;
}

.indexnews .indexnewslist li:hover .indexnewslistdata h2 {
    color: #fff;
}

.indexnews .indexnewslist li:hover .indexnewslistdata p {
    color: #fff;
}

.indexnews .indexnewslist li:hover .indexnewslistcon {
    transition: 1s ease;
    background: #58585c;
}

.indexnews .indexnewslist li:hover .indexnewslistcon h3 {
    color: #fff;
}

.indexnews .indexnewslist li:hover .indexnewslistcon p {
    color: #fff;
}

@media (max-width: 1199px) and (min-width: 992px) {
    .indexnews .indexnewslist {
        margin-top: 120px;
    }

    .indexnews .indexnewslist li .indexnewslistdata {
        width: 25%;
    }

    .indexnews .indexnewslist li .indexnewslistcon {
        width: 75%;
    }
}

@media screen and (max-width: 991px) {
    .indexnews .indexnewstop .indexnewstopimg {
        width: 45%;
    }

    .indexnews .indexnewstop .indexnewstopcon {
        width: 60%;
    }

    .indexnews .indexnewstop .indexnewstopcon .indexnewstoptext {
        padding: 15px 30px 0;
    }

    .indexnews .indexnewstop .indexnewstopcon .indexnewstoptext .indexnewstoptext2 {
        margin-bottom: 30px;
    }

    .indexnews .indexnewslist {
        margin-top: 120px;
    }

    .indexnews .indexnewslist li {
        width: 100%;
        float: none;
        margin-left: 0;
    }
}

@media screen and (max-width: 767px) {
    .indexnews .indexnewstop {
        margin-top: 0;
    }

    .indexnews .indexnewstop .indexnewstopimg {
        width: 100%;
    }

    .indexnews .indexnewstop .indexnewstopcon {
        width: 100%;
        padding-top: 0;
        padding-left: 0;
        position: static;
        padding-bottom: 0;
    }

    .indexnews .indexnewstop .indexnewstopcon .indexnewstoptext {
        padding: 15px;
    }

    .indexnews .indexnewstop .indexnewstopcon .indexnewstoptext h3 {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .indexnews .indexnewstop .indexnewstopcon .indexnewstoptext .indexnewstopbox .indexnewstopmore {
        line-height: 47px;
    }

    .indexnews .indexnewstop .indexnewstopcon .indexnewstoptext .indexnewstopbox .indexnewstopdata h2 {
        font-size: 20px;
    }

    .indexnews .indexnewstop .indexnewstopcon .indexnewstoptext .indexnewstopbox .indexnewstopdata p {
        font-size: 14px;
    }

    .indexnews .indexnewslist {
        margin-top: 40px;
    }

    .indexnews .indexnewslist li .indexnewslistdata {
        width: 25%;
        padding: 15px;
    }

    .indexnews .indexnewslist li .indexnewslistdata h2 {
        font-size: 20px;
    }

    .indexnews .indexnewslist li .indexnewslistdata p {
        font-size: 14px;
    }

    .indexnews .indexnewslist li .indexnewslistcon {
        width: 75%;
        padding: 15px;
    }

    .indexnews .indexnewslist li .indexnewslistcon h3 {
        height: 18px;
        font-size: 16px;
        margin-bottom: 15px;
    }
}

/*# sourceMappingURL=index.css.map */